:root {
  --error-light: #fff5f5;
  --pri-light: #f1eff9;
  --gray4: #e6e9f1;
  --gray1: #4b4f64;
  --gray3: #d6d9e9;
  --mask: #c2c5d680;
  --black1: #1a1d29;
  --error: #f14b66;
  --pri: #405cbf;
  --black2: #282831;
  --pri-2: #2340a2;
  --pri-dark: #1f3890;
  --gray6: #f8f8f8;
  --gray5: #f2f3f5;
  --sec-dark: #e6c54e;
  --sec: #f8de7c;
  --white: #ffffff;
  --gray2: #9aa0bf;
  --success: #63bc39;
  --fz: 0vw;
}

:root [theme="dark"] {
  --unnamed-color-42444d: #42444d;
  --error-light: #fff5f5;
  --pri-light: #f1eff9;
  --gray4: #e6e9f1;
  --gray1: #323543;
  --gray3: #d6d9e9;
  --mask: #00000080;
  --black1: #222326;
  --error: #f94562;
  --pri: #4467e5;
  --black2: #282831;
  --pri-2: #2340a2;
  --pri-dark: #1f3890;
  --gray6: #f8f8f8;
  --gray5: #f2f3f5;
  --sec-dark: #e6c54e;
  --sec: #eec736;
  --white: #ffffff;
  --gray2: #9aa0bf;
  --success: #6bdb36;
}

:root [fontSize="small"] {
  --fz: -1vw;
}
:root [fontSize="big"] {
  --fz: +1vw;
}

$shadow: 0 -3px 6px rgba(#000, 0.1);

@mixin btnStyle_base {
  color: var(--white);
  background: linear-gradient(var(--pri-2), var(--pri));
  height: 44px;
  border-radius: 6px;
  font-size: calc(4vw + var(--fz));
  &:active,
  &.active {
    background: var(--pri-dark);
  }
}
