@use './colorStyle' as style;

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;

    .navbar {
        box-shadow: style.$shadow;
        background: var(--white);
        display: flex;
        width: 100%; 
        height: 16vw;
        border-top-left-radius: 2vw;
        border-top-right-radius: 2vw;
        padding-top: 2vw;
        padding-bottom: 1vw;

        >a {
            color: var(--black2);
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            font-size: 3.2vw;
            line-height: 1.2;

            >i {
                font-size: 6.4vw;
                margin-bottom: 1vw;
            }

            &.active,
            &.active {
                color: var(--pri-2);
            }
        }
    }

    [theme="dark"] & .navbar {
        background: var(--gray1);

        >a {
            color: var(--gray2);

            &.active,
            &.active {
                color: var(--sec);
            }
        }
    }
}