@use "./footer";
@use "./navbar";
@use "./aside";
@use "./home";
@use "./gamePage.scss";
@use "./errpg";
@use "./loading";
@use "./popup";

html {
  body {
    min-height: 100vh;
    color: var(--black1);
    background: var(--gray6);
    position: relative;
    font-size: calc(4vw + var(--fz));
    overflow: hidden auto;
    main {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      transition: all 0.5s;
      overflow-y: auto;
    }
    .material-symbols-rounded {
      font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
    }
  }
}

[theme="dark"] {
  color: var(--white);
  background: var(--black2);
}
