// 20240326 use by j
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1;
    font-family: "Calibri", sans-serif;
}

ol,
ul {
    list-style: none;
}

li {
    font-family: "Calibri", sans-serif;
}
span {
    font-family: "Calibri", sans-serif;
}
p {
    font-family: "Calibri", sans-serif;
}

tr,
td {
    font-family: "Calibri", sans-serif;
    cursor: default;
    p {
        font-family: "Calibri", sans-serif;
        cursor: default;
    }
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-family: "Calibri", sans-serif;
}
button {
    background: none;
    outline: none;
    border: none;
    padding: 0;
    font-family: "Calibri", sans-serif;

    cursor: pointer;
    display: block;

    > i {
        font-size: inherit;
        color: inherit;
    }
}

select,
input {
    background: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Calibri", sans-serif;
    appearance: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
main {
    display: block;
}

label {
    display: block;
}

a {
    color: #000;
    display: block;
    text-decoration: none;

    > i {
        font-size: inherit;
        color: inherit;
    }
}

i {
    display: block;
}

img {
    display: block;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    // display: none;
    // appearance: none;
    opacity: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}
